In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df= pd.read_csv('rent.csv')

In [3]:
df.head()

,Unnamed: 0,Months,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,0,2,32.0,84.87882,10,24.98298,121.54024,37.9
1,1,2,19.5,306.59470,9,24.98034,121.53951,42.2
2,2,11,13.3,561.98450,5,24.98746,121.54391,47.3
3,3,10,13.3,561.98450,5,24.98746,121.54391,54.8
4,4,1,5.0,390.56840,5,24.97937,121.54245,43.1

In [4]:
df.columns

Index(['Unnamed: 0', 'Months', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude',
       'Y house price of unit area'],
      dtype='object')

In [5]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [6]:
df.head()

,Months,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,2,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,19.5,306.59470,9,24.98034,121.53951,42.2
2,11,13.3,561.98450,5,24.98746,121.54391,47.3
3,10,13.3,561.98450,5,24.98746,121.54391,54.8
4,1,5.0,390.56840,5,24.97937,121.54245,43.1

In [7]:
df1=df.copy()
X= df1.iloc[:,:-1]
y= df1.iloc[:,-1]

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [9]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree = 2)
X_poly = poly_reg.fit_transform(X_train)
lin_reg.fit(X_poly, y_train)

LinearRegression()

In [10]:
X_test_poly=poly_reg.transform(X_test)
y_pred = lin_reg.predict(X_test_poly)

In [11]:
y_pred.shape

(83,)

In [12]:
y_test.shape

(83,)

In [13]:
from sklearn import metrics
mae=metrics.mean_absolute_error(y_test,y_pred)
mse=metrics.mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)
print('mae :', mae,'mse :', mse,'rmse :', rmse)

mae : 4.948858997768847 mse : 38.35533547958564 rmse : 6.1931684523824835

In [14]:
from sklearn.metrics import mean_squared_error, r2_score
rmse = np.sqrt(mean_squared_error(y_test,y_pred))
r2 = r2_score(y_test,y_pred)
print(rmse)
print(r2)

6.1931684523824835
0.7473065891818362

In [15]:
df2=df.copy()

In [16]:
X1= df2.iloc[:,:-1]
y1= df2.iloc[:,-1]

In [17]:
from sklearn.model_selection import train_test_split
X1_train, X1_test, y1_train, y1_test=train_test_split(X1,y1,test_size=0.2,random_state=1)

In [18]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X1_train=sc.fit_transform(X1_train)
X1_test = sc.transform(X1_test)

In [19]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree = 2)
X1_poly = poly_reg.fit_transform(X1_train)
lin_reg.fit(X1_poly, y1_train)

LinearRegression()

In [20]:
X1_test_poly=poly_reg.transform(X1_test)
y1_pred = lin_reg.predict(X1_test_poly)

In [21]:
from sklearn.metrics import mean_squared_error, r2_score
rmse = np.sqrt(mean_squared_error(y1_test,y1_pred))
r2 = r2_score(y1_test,y1_pred)
print(rmse)
print(r2)

6.1931682325613195
0.7473066071201045