In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df= pd.read_csv('rent.csv')

In [3]:
df.head()

,Unnamed: 0,Months,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,0,2,32.0,84.87882,10,24.98298,121.54024,37.9
1,1,2,19.5,306.59470,9,24.98034,121.53951,42.2
2,2,11,13.3,561.98450,5,24.98746,121.54391,47.3
3,3,10,13.3,561.98450,5,24.98746,121.54391,54.8
4,4,1,5.0,390.56840,5,24.97937,121.54245,43.1

In [4]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [5]:
df.head()

,Months,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,2,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,19.5,306.59470,9,24.98034,121.53951,42.2
2,11,13.3,561.98450,5,24.98746,121.54391,47.3
3,10,13.3,561.98450,5,24.98746,121.54391,54.8
4,1,5.0,390.56840,5,24.97937,121.54245,43.1

In [6]:
X= df.iloc[:,:-1].values
y= df.iloc[:,-1].values

We need two dim data hence we need to reshape y

In [7]:
y = y.reshape(len(y),1)

Splitting data into train and test set

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2,random_state=1)

Feature Scaling

In [9]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()
X_train=sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)
y_train=sc_y.fit_transform(y_train)

SVR

In [10]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, y_train)

C:\Users\Lenovo\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVR()

In [11]:
y_pred=sc_y.inverse_transform(regressor.predict(X_test))

In [13]:
from sklearn.metrics import mean_squared_error, r2_score
rmse = np.sqrt(mean_squared_error(y_test,y_pred))
r2 = r2_score(y_test,y_pred)
print(rmse)
print(r2)

4.9420601833303515
0.8390895714573032